.btn {
  display: block;
  background-color: #fff;
  padding: 0.5rem 4rem;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-family: inherit;
  width: max-content;
  margin: 0 auto;
}
