.post {
  background-color: #fcfcfc;
  width: 40rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.post__img {
  width: 100%;
  height: auto;
}
.post__heading {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  margin-top: 1rem;
  letter-spacing: 1.5px;
}
.post__time {
  font-style: italic;
  margin: 1rem 0;
}
.post__brief {
  text-align: center;
  padding: 3rem;
  padding-top: 0;
}
